
.a-sidebar{
   position: sticky;
    top: 23%;
    padding: 20px;
}
.accord{
  border: none;
  border-bottom: 0.5px solid #fff;
}
.priceFlex{
  display: flex;
  justify-content: space-between;
  font-size: small;
}
.btnreset{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
}
.btnreset:hover{
  background-color: rgb(233, 233, 233);
}
.color-div{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.color-div>div{
  height: 30px;
  cursor: pointer;
  width: 30px;
  border-radius: 25px;
  border: 1px solid black;
}