.Carousel__box{
    position: relative;
    width:50%;
    
}
.inputbdr{
    border: 2px solid rgb(124, 160, 100) !important;
}
.modalHeader{
    text-align: center;
    text-transform: uppercase;
    color:"black";
	background: linear-gradient(to right, #385944 0%, #38a169 100%);
	/* -webkit-text-fill-color: transparent; */
}
.loginbtn:hover{
    background: linear-gradient(to right, #9ae6b4 , #38a169) !important;
  }